<?xml version='1.0' encoding='utf-8'?>
<plugin id="cordova-plugin-mathcalculator" version="1.0.0" 
    xmlns="http://apache.org/cordova/ns/plugins/1.0" 
    xmlns:android="http://schemas.android.com/apk/res/android">

    <name>MathCalculator</name>

    <js-module name="MathCalculator" src="www/MathCalculator.js">
        <clobbers target="MathCalculator" />
    </js-module>

    <platform name="android">
        <config-file parent="/*" target="res/xml/config.xml">
            <feature name="MathCalculator">
                <param name="android-package" value="cordova.plugin.mathcalculator.MathCalculator" />
            </feature>
        </config-file>
        <config-file parent="/*" target="AndroidManifest.xml" />
        <source-file src="src/android/MathCalculator.java" target-dir="src/cordova/plugin/mathcalculator/MathCalculator" />
    </platform>

    <platform name="ios">
        <config-file parent="/*" target="config.xml">
            <feature name="MathCalculator">
                <param name="ios-package" value="MathCalculator" />
            </feature>
        </config-file>
        <source-file src="src/ios/MathCalculator.m" />
    </platform>
</plugin>